<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            name="ELDATool"
            id="DSCDiagramEditor">
      </category>
      <wizard
            category="DSCDiagramEditor"
            class="eldaEditor.wizards.DSCDiagramCreationWizard"
            icon="icons/statechart.gif"
            id="dSCDiagramEditor.wizards.DSCWizard"
            name="ELDA Editor">
      </wizard>
   </extension>

   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="eldaEditor.editor.DSCDiagramEditor"
            contributorClass="eldaEditor.editor.DSCDiagramActionBarContributor"
            extensions="dsc"
            icon="icons/statechart.gif"
            id="DiagramEditor.editors.DSCDiagramEditor"
            name="DSCDiagram Editor">
      </editor>
      <editor
            default="false"
            extensions="func"
            icon="src/dscDiagramEditor/icons/func.jpg"
            id="DSCDiagramEditor.function"
            name="DSCDiagramEditor.function"/>
   </extension>

</plugin>
